doctype html
html
	head
		block head
			block title
				title Playlist Tracker
			block meta
				meta(name='description', content='')
				meta(name='keywords', content='')
			link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
			link(rel='stylesheet' type="text/css" href="style.css")
			script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
	body
		nav(class="navbar" role="navigation"): div(class="container-fluid"): div(class="navbar-header"): a(class="navbar-brand" href="/") Playlist Tracker
		block content

