extends layout
block content
	ul(class='list-group')
		each item in items
			script(type="text/javascript").
				var images="#{item.images[0].url}"
				console.log(images)
			li(class='list-group-item')
				img(src=item.images[0].url class="thumb")
				a(class="title" href='/songs?userid='+ item.owner.id +'&id='+item.id)=item.name
