<form ng-Submit="search()">
    <!--
	<input ng-model="search_query"></input>
	<input class="button" type="submit" value="Search" />
-->
    <md-autocomplete md-selected-item="search_query" md-search-text="searchText" md-items="item in search(searchText)" md-item-text="item.names" md-min-length="2" placeholder="Search playlists..." md-selected-item-change="showHistory(item)">
        <md-item-template>
            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.names[0]}}</span>
        </md-item-template>
        <md-not-found>
            No states matching "{{searchText}}" were found.
        </md-not-found>
    </md-autocomplete>
</form>
<!--
<table>
    <tr ng-repeat="snapshot in history">
        <td>
            <a>{{snapshot.name}}</a>
        </td>
    </tr>
</table>
-->
<md-list>

    <md-list-item class="md-3-line" ng-repeat="snapshot in history">

        <div class="md-list-item-text">
            <h3>{{snapshot.date | date:shortDate}}</h3>
            <h4>{{snapshot.name}}</h4>
            <!--

            <p>
                notes
            </p>
-->
        </div>
        <md-divider inset=""></md-divider>
    </md-list-item>

</md-list>
