.app-name {
    font-family: Light;
    margin-left: 1rem;
}
.center-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0px 0px -45px;
}
.snapshots {
    position: fixed;
    top: 51px;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /*! background-color: #F5F5F5; */
    border-right: 1px solid #ccc;
}
.snapshot-list {
    margin-top: 30px;
}
#songs {
    top: 50px;
    position: fixed;
    bottom: 0px;
    overflow-y: auto;
}
.table > tbody > tr > td.playLink {
    vertical-align: middle;
}
.artist-link:after {
    content: ", ";
}
.artist-link:last-child:after {
    content: "";
}
.search-icon {
    position: absolute;
    top: 31px;
    right: 30px;
}
.search-icon.fa-times {
  cursor: pointer;
  cursor: hand;
}
.no-results {
  text-align: center;
}
.restore-container {
  text-align: center;
}
@font-face {
    font-family: "Light";
    font-style: normal;
    font-weight: 300;
    src: url("https://sp-bootstrap.global.ssl.fastly.net/7.2.0/fonts/circular-light.woff2") format("woff2"), url("https://sp-bootstrap.global.ssl.fastly.net/7.2.0/fonts/circular-light.woff") format("woff");
}
@font-face {
    font-family: "Medium";
    font-style: normal;
    font-weight: 500;
    src: url("https://sp-bootstrap.global.ssl.fastly.net/7.2.0/fonts/circular-medium.woff2") format("woff2"), url("https://sp-bootstrap.global.ssl.fastly.net/7.2.0/fonts/circular-medium.woff") format("woff");
}
